<!-- Modal cancel order -->
<div class="modal customize-class fade" id="exampleModal-order" data-aos-delay="200" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="p-3">
                    <label for="">Let's write the response cancel your order!</label>
                    <textarea name="" id="" cols="" rows="" class="form-control"></textarea>
                </div>
                <button ng-click="updateStatusCancel(order.id)" class="bg-primary text-light p-2" style="border-radius: 10px; width: 200px;">Confirm</button>

            </div>
        </div>
    </div>
</div>